In [ ]:
organising the list datatype:

In [2]:
students=('megha','kiran','rashmi','waheed','suhaib','sufiyan','farzan','sameer')

In [3]:
print(students)

('megha', 'kiran', 'rashmi', 'waheed', 'suhaib', 'sufiyan', 'farzan', 'sameer')

In [4]:
type(students)

tuple

In [ ]:
#req:i want to organise a list in Alphabetical order A-Z.
 2 possible ways:
        1. temp way of doing --->using sorted
        2. permanent way of doing ---> using sort

In [ ]:
#temp approach:

In [5]:
print(sorted(students))

['farzan', 'kiran', 'megha', 'rashmi', 'sameer', 'sufiyan', 'suhaib', 'waheed']

In [6]:
print(students)

('megha', 'kiran', 'rashmi', 'waheed', 'suhaib', 'sufiyan', 'farzan', 'sameer')

In [23]:
students=['megha','kiran','rashmi','waheed','suhaib','sufiyan','farzan','sameer']#permanent approach:  the changes are permanent.

In [24]:
students.sort()

In [25]:
print(students)

['farzan', 'kiran', 'megha', 'rashmi', 'sameer', 'sufiyan', 'suhaib', 'waheed']

In [ ]:
#len to count the total number of elements in the list.

In [13]:
print(len(students))

8

In [15]:
print(students)

('megha', 'kiran', 'rashmi', 'waheed', 'suhaib', 'sufiyan', 'farzan', 'sameer')

In [20]:
students=['megha','kiran','rashmi','waheed','suhaib','sufiyan','farzan','sameer']

In [21]:
students.reverse() #to print the list in a reverse order.

In [22]:
print(students)

['sameer', 'farzan', 'sufiyan', 'suhaib', 'waheed', 'rashmi', 'kiran', 'megha']

In [ ]:
#introduction to negative indexing: -1,-2....

In [27]:
students=['vimal','ravi','rakesh','seri','paul']

In [28]:
print(students)

['vimal', 'ravi', 'rakesh', 'seri', 'paul']

In [29]:
print(students[-1])

paul

In [30]:
print(students[-3])

rakesh

In [32]:
print(students[-3:-1])

['rakesh', 'seri']

In [33]:
print(students[-5:-1])

['vimal', 'ravi', 'rakesh', 'seri']

In [34]:
print(students[0:4])

['vimal', 'ravi', 'rakesh', 'seri']