In [ ]:
introduction to slicing:

In [1]:
#sample list:
students=['swathi','ananth','sakshi','vikram','sibin','manasa','nadeem','kiran']

In [2]:
print(students)

['swathi', 'ananth', 'sakshi', 'vikram', 'sibin', 'manasa', 'nadeem', 'kiran']

In [ ]:
#req: i want to slice 2 students to each group [to slice the list in 2 persons in each group]

In [ ]:
general syntax:

In [ ]:
variable[startvalue:stopvalue:stepcount]
  #always remember t value is always exclusive:

In [3]:
print(students[0:1])

['swathi']

In [4]:
print(students[0:2])

['swathi', 'ananth']

In [5]:
print(students[0:3])

['swathi', 'ananth', 'sakshi']

In [6]:
print(students[2:4])

['sakshi', 'vikram']

In [7]:
print(students[4:6])

['sibin', 'manasa']

In [8]:
print(students[6:8])

['nadeem', 'kiran']

In [ ]:
#i want to include all the alternative students in the list....!

In [9]:
print(students[0:7:2])

['swathi', 'sakshi', 'sibin', 'nadeem']

In [ ]:
#implementation of range method....!

In [10]:
#i want to print numbers from 1 to 30 as a list...!

In [11]:
x=list(range(1,30)) #last value will be exclusive 
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

In [ ]:
#req: print the even numbers from 1 to 24 by using the list & range method...!

In [ ]:
even_numbers #even_numbers....! divisible by 2.

In [16]:
a=list(range(2,25,2))
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]

In [17]:
a=list(range(2,100,2))
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [ ]:
#range method syntax...!
range(startvalue,stopvalue,stepcount)

In [ ]:
#req: print the odd numbers from 1 to 25 by using the list & range method...!

In [21]:
odd_numbers=list(range(1,25,3))
print(odd_numbers)

[1, 4, 7, 10, 13, 16, 19, 22]